
<%= render 'banner' %>

<div class="container center-div">

  <!--section card-->
  <h1 class="my-5 text-center">Cards</h1>
  </br>

  <div class="row">
    <% @items.each do |item| %>
    <!-- classe des cards-->
    <div class="card text-white bg-secondary mb-3 ml-3 mr-3" style="max-width: 20rem;">
      <!-- début de la 1ere card-->
      <div class="card-header"><%= item.title %></div>

   
        <%if item.item_image.attached?%>
        <%= image_tag item.item_image, alt: 'image du chat', :class => "card-img-top" %>
        <%else%>
        <p>No picture yet !</p>
        <%end%>

      <div class="card-body">
        <p class="card-text"><center>
          <%= link_to 'Preview', item, :class => "btn btn-primary btn-sm" %>
          <%= link_to 'Shop now', item, :class => "btn btn-primary btn-sm" %>
      </div>
      <!-- fin de la première card -->
    </div>
    <% end %>
  </div>

</div>
