<div class="container">

<p>
  <strong>Title:</strong>
 <h1> <%= @item.title %> </h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%if @item.item_image.attached?%>
  <%= image_tag @item.item_image, alt: 'image du chat', :class => "card-img-top" %>
  <%else%>
  <p>No picture yet !</p>
  <%end%>
</p>

<!-- ONLY ADMIN -->
<p>
  <strong>Add/Edit Image ?</strong>
  <%= form_tag item_items_images_path(@item), multipart: true do %>
  <%= file_field_tag :item_image %>
  <%= submit_tag "mettre à jour" %>
  <% end %>
</p>
<!-- FIN ONLY ADMIN -->

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>


</div>