

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= image_tag("kitty_logo.png", style: "width: 50px;", :class => "card-img-top")%>
<h2>SnapChat</h2>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%= link_to "Home", root_path, :class => 'nav-link'%>
       <!-- <a class="nav-link" href=>Home <span class="sr-only">(current)</span></a> %>-->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Catalogue</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>


        <form class="form-inline my-2 my-lg-0">
        
        <% unless user_signed_in? %>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          S'inscrire / Se connecter
        </a>
        
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= new_user_registration_path %>">S'inscrire</a>
          <a class="dropdown-item" href="<%= user_session_path %>">Se connecter</a>
        </div>
      </li>

      <% end %>

        <% if user_signed_in? %>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mon profil / Se déconnecter
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Mon profil</a>
          <a class="dropdown-item" <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></a>
    

        </div>
      </li>
      <% end %>
   
    </form>
  </div>
</nav>



