<!DOCTYPE html>
<html>
  <head>
    <title>KittyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link rel="stylesheet" href="vendor/assets/stylesheets/bootstrap.css" media="screen">
      <link rel="stylesheet" href="app/assets/stylesheets/main.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>




    <!--**********JavaScript **********-->
  <script src="vendor/assets/javascripts/popper.min.js"></script>
  <script src="vendor/assets/javascripts/jquery-3.3.1.slim.min.js"></script>
  <script src="vendor/assets/javascripts/bootstrap.min.js"></script>

  </body>



</html>
